<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.dongye.advanceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.BinderPoolAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SurfaceViewAty" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.ServiceActivity" />

        <service
            android:name=".aidl.MyService"
            android:process=":remote">
            <intent-filter>
                <action android:name="tk.dongye.advanceapp.MyService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".aidl.BinderPoolService"
            android:process=":bindpool" />
    </application>

</manifest>