<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.dongye.advanceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.BinderPoolAty" />
        <activity android:name=".ui.SurfaceViewAty" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.ServiceActivity" />
        <activity android:name=".view.ViewBaseActivity" />
        <!-- 动画 -->
        <activity android:name=".anim.BasicAnimationAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- View滑动冲突 -->
        <activity android:name=".view.ViewScrollDemo" />

        <!-- 大图加载 -->
        <activity android:name=".view.image.sampling.ui.BitmapRegionDecoderAty" />

        <service
            android:name=".aidl.MyService"
            android:process=":remote">
            <intent-filter>
                <action android:name="tk.dongye.advanceapp.MyService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="tk.dongye.advanceapp.aidl.BinderPoolService"
            android:process=":bindpool" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>